/* @font-face{
    font-family: Lemon Milk Pro;
    font-style: normal;
    src: url('../fonts/static/Commissioner-ExtraLight.ttf');
  }
  
  @font-face{
    font-family: Lemon Milk Pro b;
    font-style: bold;
    src: url('../fonts/static/Commissioner-Medium.ttf');
  }
  
  @font-face{
    font-family: Lemon Milk Regular;
    font-style: bold;
    src: url('../fonts/static/Commissioner-Regular.ttf');
  }
  @font-face{
    font-family: Lemon Milk Pro bb;
    font-style: bold;
    src: url('../fonts/static/Commissioner-Bold.ttf');
  }
  @font-face{
    font-family: ComissionerEB;
    font-style: bold;
    src: url('../fonts/static/Commissioner-ExtraBold.ttf');
  } */

* {
    font-family: "Lemon Milk Regular";
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}

body, html {
    margin: 0;
    height: 0;
    max-width: 100%;
    width: 100%;
}
body {
    background-color: rgb(255,255,255);
}
h1 {
    color: red;
}
