{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloom Tracker:&nbsp;{{squadname}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/map.css' %}">
    <script src="{% static 'home/js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'menu/js/menu.js' %}"></script>
    {% comment %} <style type="text/css">
          @font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url({% static 'css/Lemon Milk Pro Ultra Light.otf' %});
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Medium.otf' %});
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Regular.otf' %});
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Bold.otf' %});
} 
    </style> {% endcomment %}
</head>
<body>
    <header>
        <a href="../"><button>Назад</button></a>
        <div class="header-gh-logo"></div>
        <div class="header-squad-name">Squad:&nbsp;{{squadname}}</div>
        <div class="header_section">
          <div class='header-label'>Reputation:</div>
          <div class='repcounter'>
            <div class='repbtn-em' id='minrep'></div>
            <div class='repbtn'>{{rep}}</div>
            <div class='repbtn-ep' id='plusrep'></div>
          </div>
        </div>
        <div class="header_section">
          <div class='header-label'>Prosperity:</div>
          <div class='repcounter'>
            <div class='repbtn-em' id='minpro'></div>
            <div class='probtn' id='pro'>{{prospect}}</div>
            <div class='repbtn-ep' id='pluspro'></div>
          </div>
        </div>
        <div class="header_section">
          <div class='header-label'>Donations made</div>
          <div class='repcounter'>
            <div class='repbtn-em' id='minch'></div>
            <div class='probtn' id='ch'>{{church}}</div>
            <div class='repbtn-ep' id='plusch'></div>
          </div>
        </div>
    </header>
    <main>
      <img src="{% static 'map/img/Gloommap.jpeg' %}" class="map">
        {% if '1' in get_quests %}
        <img src="{% static 'map/img/m1.png' %}" class="m1-quest activeq" alt="1. Чёрный курган">
        {% endif %}
        {% if '2' in get_quests %}
        <img src="{% static 'map/img/m2.png' %}" class="m2-quest activeq" alt="2. Подземное логово">
        {% endif %}
        <img src="{% static 'map/img/m3.png' %}" class="m3-quest activeq" alt="3. Лагерь иноксов">
        <img src="{% static 'map/img/m4.png' %}" class="m4-quest activeq" alt="4. Склеп проклятых">
        <img src="{% static 'map/img/m5.png' %}" class="m5-quest activeq" alt="5. Зловещий склеп">
        <img src="{% static 'map/img/m6.png' %}" class="m6-quest activeq" alt="6. Обветшалый склеп">
        <img src="{% static 'map/img/m7.png' %}" class="m7-quest activeq" alt="7. Цветущий грот">
        <img src="{% static 'map/img/m8.png' %}" class="m8-quest activeq" alt="8. Склад">
        <img src="{% static 'map/img/m9.png' %}" class="m9-quest activeq" alt="9. Алмазная шахта">
        <img src="{% static 'map/img/m10.png' %}" class="m10-quest activeq" alt="10. Измерение силы стихий">
        <img src="{% static 'map/img/m11.png' %}" class="m11-quest activeq" alt="11. Площадь Мрачной Гавани А.">
        <img src="{% static 'map/img/m12.png' %}" class="m12-quest activeq" alt="12. Площадь Мрачной Гавани Б.">
        <img src="{% static 'map/img/m13.png' %}" class="m13-quest activeq" alt="13. Храм прорицателя">
        <img src="{% static 'map/img/m14.png' %}" class="m14-quest activeq" alt="14. Ледяная пещера">
        <img src="{% static 'map/img/m15.png' %}" class="m15-quest activeq" alt="15. Святилище силы">
        <img src="{% static 'map/img/m16.png' %}" class="m16-quest activeq" alt="16. Горный перевал">
        <img src="{% static 'map/img/m17.png' %}" class="m17-quest activeq" alt="17. Затеряный остров">
        <img src="{% static 'map/img/m18.png' %}" class="m18-quest activeq" alt="18. Заброшенная канализация">
        <img src="{% static 'map/img/m19.png' %}" class="m19-quest activeq" alt="19. Забытый склеп">
        <img src="{% static 'map/img/m20.png' %}" class="m20-quest activeq" alt="20. Прибежище некромантки">
        <img src="{% static 'map/img/m21.png' %}" class="m21-quest activeq" alt="21. Дьявольский трон">
        <img src="{% static 'map/img/m22.png' %}" class="m22-quest activeq" alt="22. Храм стихий">
        <img src="{% static 'map/img/m23.png' %}" class="m23-quest activeq" alt="23. Глубокие руины">
        <img src="{% static 'map/img/m24.png' %}" class="m24-quest activeq" alt="24. Шепчущая галерея">
        <img src="{% static 'map/img/m25.png' %}" class="m25-quest activeq" alt="25. Восхождение на Ледяной утёс">
        <img src="{% static 'map/img/m26.png' %}" class="m26-quest activeq" alt="26. Древний резервуар">
        <img src="{% static 'map/img/m27.png' %}" class="m27-quest activeq" alt="27. Зловещий портал">
        <img src="{% static 'map/img/m28.png' %}" class="m28-quest activeq" alt="28. Внешнее капище">
        <img src="{% static 'map/img/m29.png' %}" class="m29-quest activeq" alt="29. Обитель Мрака">
        <img src="{% static 'map/img/m30.png' %}" class="m30-quest activeq" alt="30. Свтилище глубин">
        <img src="{% static 'map/img/m31.png' %}" class="m31-quest activeq" alt="31. Ночное измерение">
        <img src="{% static 'map/img/m32.png' %}" class="m32-quest activeq" alt="32. Ветхая пуща">
        <img src="{% static 'map/img/m33.png' %}" class="m33-quest activeq" alt="33. Оружейная савваса">
        <img src="{% static 'map/img/m34.png' %}" class="m34-quest activeq" alt="34. Выжженая вершина">
    </main>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>

