{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloom Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
    <script src="{% static 'home/js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
    {% comment %} <style type="text/css">
          @font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url({% static 'css/Lemon Milk Pro Ultra Light.otf' %});
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Medium.otf' %});
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Regular.otf' %});
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Bold.otf' %});
} 
    </style> {% endcomment %}
</head>
<body>
    <header>
        <div class="header-gh-logo"></div>
    </header>
    <main>
        <div class="main-choose-squad">
            <div class="main-choose-squad-strip">
                <div class="main-create-squad-btn">Создать отряд</div>
            </div>
            <div class="main-choose-squad-bstrip">
                <div class="main-cont-squad">Продолжить путешествие:</div>
                <div class="main-count-zone">
                    <div class="main-count-zone-header">
                        <div class="main-name">Название отряда</div>
                        <div class="main-desc">Описание отряда</div>
                        <div class="main-rep">Репутация</div>
                        <div class="main-pros">Процветание гавани</div>
                        <div class="main-con">&nbsp;</div>
                    </div>
                    {% if squads == None %}
                        <div class="main-count-zone-no">Нет отрядов</div>
                    {% else %}
                        <div class="main-count-zone-stroke-area">
                            {% for squad in squads %}
                                <div class="main-count-zone-stroke">
                                    <div class="main-name">{{squad.squad_name}}</div>
                                    <div class="main-desc">{{squad.squad_desc}}</div>
                                    <div class="main-rep">{{squad.reputation}}</div>
                                    <div class="main-pros">{{squad.prospect}}</div>
                                    <a href="{{squad.id}}/"><div class="main-con">Продолжить</div></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="main-choose-squad-bform">
                <div class="main-cont-squad">Создайте свой отряд:</div>
                <label class="main-newsquad-label" id="squadname">Название отряда:</label>
                <input class="main_input" id="squadname-in" maxlength=40>
                <label class="main-newsquad-label" id="squaddesc">Краткое описание отряда:</label>
                <input class="main_input" id="squaddesc-in" maxlength=50>
                <div class="main-go-squad-btn">Начать путешествие</div>
            </div>
        </div>
    </main>
</body>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}"> {% endcomment %}
</html>

